@font-face {
  font-family: 'AliFangYuan';
  src: url('/src/assets/fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'FZG';
  src: url('/src/assets/fonts/FZG_HAx.ttf.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/src/assets/fonts/MiSans-Normal.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}