@use 'font';

:root {
  //红色
  --red: #ED4C4C;
  //紫色
  --purple: #a855f7;
  //金色
  --gold: #e8a317;
  //粉色
  --pink: #ff6b9d;
}

* {
  font-family: 'MiSans', sans-serif !important;
  --n-scrollbar-rail-right-vertical-right: 0px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, var(--scrollbar-color) 50%, transparent) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--scrollbar-color) 50%, transparent);
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--scrollbar-color) 50%, transparent);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    -webkit-user-drag: none;
  }
}

.n-dropdown-menu {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid var(--border-color) !important;

  .v-binder-follower-content {
    background-color: color-mix(in srgb, var(--bg-muted-color) 80%, transparent) !important;
  }
}