@use 'font';

:root {
  //红色
  --red: #ED4C4C;
}

* {
  font-family: 'MiSans', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    -webkit-user-drag: none;
  }
}